/*
use . for class
use # for id

*/
#root {
width: 100%;
height: 100%;
}
.container{
    display: grid;
    grid-template-columns: ;
    grid-template-rows: ;
}
.link{
    display: inline;
}

.image{
    width: 150px;
    height: 150px;
}

.card{
    height:310px;
    width: 155px;
    border-style: ridge;
    border-width: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.card-mob-fight{
    height:355px;
    width: 170px;
    border-style: ridge;
    border-width: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 50px;
}
.card-monst-fight{
    height:355px;
    width: 170px;
    border-style: ridge;
    border-width: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 50px;
}
.fight-message{
    max-width: 300px;
    max-height: 200px;
    border-style: ridge;
    border-width: 5px;
    overflow-y: scroll;
    overflow-x: hidden;
    
}

.float-left{
    float: left
}
.float-right{
    float:right
}
.text-center {
    text-align: center;
}

.center{
    margin:0 auto
}

