/*
use . for class
use # for id

*/
h1{
    font-family: "Roboto Mono", monospace;
}
h2{
    font-family: "Roboto Mono", monospace;
}
p{
    font-family: "Roboto Mono", monospace;
}
#root {
width: 100%;
height: 100%;
}
.container{
   
    display:grid;
    grid-template-columns: 100px 100px 100px 100px 100px 100px;
    grid-template-rows: 32px 32px 100px 100px 100px 100px 100px;
    grid-template-areas: "fight fight fight fight fight fight"
                         ". select ...."
                         ". mob .. monst ."
                         ". mob .. monst ."
                         ". mob message message monst ."
                         ". mob message message monst ."
                         ". mob message message monst .";
}

.fight-message{
    grid-area: fight;
}
.select{
    grid-area: select;
}
.mob{
    grid-area: mob;
}
.message{
    grid-area: message;
}
.monst{
    grid-area: monst;
}
.link{
    display: inline;
}

.image{
    width: 150px;
    height: 150px;
}

.card{
    height:310px;
    width: 155px;
    border-style: ridge;
    border-width: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.card-mob-fight{
    display: block;
    height:355px;
    width: 160px;
    border-style: ridge;
    border-width: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 50px;
}
.card-monst-fight{
    display: block;
    height:355px;
    width: 160px;
    border-style: ridge;
    border-width: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 50px;
}
.fight-message-box{
    display:block;
    margin: 0 auto;

    width: 200px;
    height: 155px;
    border-style: ridge;
    border-width: 5px;
    overflow-y: scroll;
    overflow-x: hidden;
    
}

.mob-select{
    margin-left: 50px;
}

.diff{
    
    margin-left: 200px;
}

.width-hun{
    width: 100%;
}
.float-left{
    float: left
}
.float-right{
    float:right
}
.text-center {
    text-align: center;
}

.center{
    margin:0 auto;
    text-align: center;
}

.underline{
    text-decoration: underline;
    cursor:crosshair;
}


